@import "tailwindcss";

@font-face {
	font-family: WorkSans;
	src: url("/fonts/WorkSans-VariableFont_wght.ttf");
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--color-primary: var(--color-cyan-600);
	--color-title: var(--color-cyan-900);
	--color-subtitle: var(--color-stone-700);

	--font-worksans: WorkSans, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif
}

:root {
	--color-card: --alpha(var(--color-stone-50) / 70%);
	--color-card-text: var(--color-stone-500);
	--color-card-subtext: var(--color-stone-400);
	--color-card-border: var(--color-stone-300);
	--color-card-hover: var(--color-stone-50);

	--color-filter-light: rgb(255 255 255 / 0.85);
	--color-filter-dark: rgb(0 0 0 / 0.85);

	--bg-noise: url("/random_static.png") repeat;
	--bg-theme-light: linear-gradient(0deg, var(--color-filter-light), var(--color-filter-light)), var(--bg-noise), url("/gradient-light.webp") 50% / cover no-repeat;
	--bg-theme-dark: linear-gradient(0deg, var(--color-filter-dark), var(--color-filter-dark)), var(--bg-noise), url("/gradient-dark.webp") 50% / cover no-repeat;

	background: var(--bg-theme-light);
	@apply bg-fixed;

	@variant dark {
		background: var(--bg-theme-dark);
		@apply bg-fixed;
		--color-primary: var(--color-cyan-400);
		--color-title: var(--color-stone-100);
		--color-subtitle: var(--color-stone-300);

		--color-card: --alpha(var(--color-stone-900) / 70%);
		--color-card-text: var(--color-stone-400);
		--color-card-subtext: var(--color-stone-500);
		--color-card-border: var(--color-stone-600);
		--color-card-hover: --alpha(var(--color-stone-900) / 90%);
	}

	font-family: var(--font-worksans);
	line-height: 1.5;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

/* Welcome to the * wonderful * world of iOS */
@supports (-webkit-overflow-scrolling: touch) {
	body::after {
		content:"";
		position:fixed;
		top:0;
		height:100vh;
		left:0;
		right:0;
		z-index:-1;
		background: var(--bg-theme-light);
		background-attachment: scroll;
	}

	@variant dark {
		body::after {
			background: var(--bg-theme-dark);
		}
	}
}

body {
	margin: 0;
}

#app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

a {
	color: var(--color-primary);
}

.transition-inherit {
	transition: inherit;
}

.ease-out-cubic {
	transition-timing-function: cubic-bezier(0.22, 0.665, 0.34, 0.875)
}